interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Authentication-Token:
      - xxxxxxxxxxxxxxxxxxxx
    method: GET
    uri: https://api.zenhub.io/p1/repositories/145164796/issues/33/events
  response:
    body:
      string: '[{"user_id":8730430,"type":"transferIssue","created_at":"2019-02-21T14:13:35.631Z","from_pipeline":{"name":"New
        Issues"},"to_pipeline":{"name":"Icebox"},"workspace_id":"5afb06d32133e10681387560"},{"user_id":33845092,"type":"transferIssue","created_at":"2018-10-22T20:21:37.353Z","from_pipeline":{"name":"Icebox"},"to_pipeline":{"name":"New
        Issues"},"workspace_id":"5afb06d32133e10681387560"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"188-2509094778"
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Reset:
      - '1555012380'
      X-RateLimit-Used:
      - '2'
      X-ZenHub-Request-Id:
      - bd3cd6aa-5844-42d0-a7bf-afd3e92d35ec
    status:
      code: 200
      message: OK
version: 1
