interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Authentication-Token:
      - xxxxxxxxxxxxxxxxxxxx
    method: GET
    uri: https://api.zenhub.io/p1/repositories/145164796/issues/33
  response:
    body:
      string: '{"plus_ones":[],"pipeline":{"name":"Icebox","pipeline_id":"5afb06d32133e1068138755b","workspace_id":"5afb06d32133e10681387560"},"pipelines":[{"name":"Icebox","pipeline_id":"5afb06d32133e1068138755b","workspace_id":"5afb06d32133e10681387560"}],"is_epic":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"103-1373330643"
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Reset:
      - '1555011900'
      X-RateLimit-Used:
      - '1'
      X-ZenHub-Request-Id:
      - 02a45855-72ad-41b9-bc75-75004e87088f
    status:
      code: 200
      message: OK
version: 1
